<div class="container">
    <textarea name="rawdata" rows="12" cols="50" ng-model="area.text" ng-focus="changeHolderState(true)"
              ng-blur="changeHolderState(false, area.text)" placeholder={{holder}}></textarea>
    <br />
    <button ng-click="extractMails(area.text, false)">extract from text</button>
    <button ng-click="extractMails(area.text, true)">extract from URL</button>
    <ul>
        <li ng-repeat="email in emailsExtracted">
            {{email}}<br />
        </li>
        <li>count - {{emailsExtracted.length}}</li>
    </ul>
</div>